.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.inner {
  padding: 20px;
  width: 80%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

.row {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.inputs {
  @media (max-width: 900px) {
    flex-direction: column;
    grid-row-gap: 10px;
  }
}