body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
  font-weight: 500;
}

.no-scroll {
  overflow: hidden;
}

.MuiGrid-container {
  margin-top: 50px;
  min-height: 226px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
  @media (max-width: 900px) {
    position: relative;
    max-width: 400px;
    margin: 10px auto;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
}

.small-btn {
  font-size: 12px !important;
  min-width: 110px!important;
  max-width: 110px;
}

.big-btn {
  min-width: 155px!important;
  max-width: 155px;
}

.Mui-error {
  margin-left: 0!important;
  margin-right: 0!important;
}

